/* Navbar styling */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* General styling */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    color: #007acc;
}

p {
    color: #555;
    font-size: 1.2rem;
}

img {
    max-width: 75%;
    border-radius: 8px;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #45a849;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007acc;
}

.homepage-gif {
    width: 80%; /* Adjust to control the width */
    max-width: 800px;
    border-radius: 8px;
    margin-top: 20px;
}
